<div class="form">
    <h3>Log in to access your account.</h3>

    <%= form_with url: '/login', local: true do |f| %>

        <%= f.label :email %><br>
        <%= f.text_field :email, autofocus: true %><br>

        <%= f.label :password %><br>
        <%= f.password_field :password %><br>

        <%= f.submit "Login", class:"small-button mt-4" %>

    <% end %>
</div>