
    <div class="form">
        <h3>Log in to access your account.</h3>

        <%= simple_form_for :sessions, local: true do |f| %>
            <div><%= f.input :email %></div>
            <br>

        <div data-controller="password">
            <div class="form-goup password-input">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: "current-password", class: 'form-control p-2 my-2 unhide', placeholder: "Passwords", "data-password-target": "password", "data-action": "keyup->password#passwordbarfill keyup->password#progresscolor keyup->password#strengthsuggestion" %>
                <i data-action="click->password#unhide" class="password-field-icon far fa-eye-slash"></i>
            </div>
            <div class="progress">
                <div class="progress-bar" data-password-target="progressbar"></div>
            </div>
            <p class="suggestion" data-password-target="suggestion"></p>
        </div>

        <%= f.submit "Login", class:"small-button mt-5" %>
        <% end %>
    </div>
