<%= javascript_pack_tag 'hello_react' %>

<h2>Sign up to create your account today</h2>

<%= simple_form_for @user, local: true do |f| %>
    <%= f.input :first_name %><%= f.input :last_name %>
    <br>

    <%= f.input :email %>
    <br>

    <%= f.label :password %><br>
    <%= f.password_field :password %><br>

    <%= f.submit "Sign Up" %>
<% end %>