<%#= javascript_pack_tag 'hello_react' %>

    <div class="form">
        <h2>Sign up to create your account today.</h2>

        <%= simple_form_for @user, local: true do |f| %>
            <div class="d-flex">
                <div class="me-4"><%= f.input :first_name %></div>
                <div><%= f.input :last_name %></div>
            </div>
            <br>

            <div><%= f.input :email %></div>
            <br>

           
            <div data-controller="password">
                <div class="form-goup password-input">
                    <%= f.label :password %>
                    <%= f.password_field :password, autocomplete: "current-password", class: 'form-control p-2 my-2 unhide', placeholder: "Password", "data-password-target": "password", "data-action": "keydown->password#passwordinput" %>
                    <i data-action="click->password#unhide" class="password-field-icon far fa-eye-slash"></i>
                </div>
                <div class="progress">
                    <div class="progress-bar" data-password-target="progressbar"></div>
                    <p data-password-target="suggestion"></p>
                </div>
            </div>
            
            <br>
            
            <%= f.submit "Sign Up", class:"small-button mt-5" %>
        <% end %>
    </div>
