<h3 class="m-5">How's your day going, <%= current_user.first_name%>?</h3>

<div class="profile-container">
    <div>
        <%= image_tag current_user.gravatar_url, class: "gravatar avatar-large" %>
    </div>
    <div class="profile-info">
        <h4>Name</h4>
        <div class="full-name">
            <p><%= current_user.first_name %>
            <%= current_user.last_name %></p>
        </div>
        <div>
            <h4>Email</h4>
            <p><%= current_user.email %></p>
        </div>
        <div class="edit">
            <%= link_to edit_user_path(current_user) do %>
            <i class="fas fa-user-edit"></i>
            <% end %>
        </div>
    </div>
</div>